.banner {
  background-color: #946b2d;
  height: 100px;
  text-align: center;
}
.container {
  width: 700px;
  margin-top: 100px;
}
input {
  border: 1px solid;
  padding: 10px;
  box-shadow: 5px 5px #888888;
}
label {
  padding-top: 20px;
  padding-bottom: 10px;
  font-weight: bold;
}
